{% extends 'base.html.twig' %}

{% block title %}{{ variableTitre }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('Styles/Admin.css') }}"> <!-- Lien vers un fichier CSS -->
    <link rel="stylesheet" href="{{ asset('Styles/Header.css') }}">


{% endblock %}
{% block javascripts %}
    <script src="{{ asset('Scripts/AdminScript.js') }}" defer></script> <!-- Lien vers un fichier JS -->



{% endblock %}


{% block body %}

    <h1 style="padding-top: 50px;">Page d'administration</h1>

    <main>
        <section id="catalogue">
            <h2>Catalogue</h2>
            <div class="tabs">
                <button class="tab-button" data-tab="users">Utilisateurs</button>
                <button class="tab-button" data-tab="ues">UE</button>
                <a href="{{ path('admin_assign_ue_user') }}" class="tab-button" id="assign-ue-user">Assigner des utilisateurs</a>

            </div>
            <div class="tab-content" id="users-tab">
                <h3>Liste des utilisateurs</h3>
                <button class="tab-button" id="create-user">Créer un utilisateur</button>
                <ul id="user-list">
                    {% for user in users %}
                        <li id="user-{{ user.id }}">{{ user.Prenom }} {{ user.Nom }} - {{ user.email }}
                            <button class="delete-user-button" data-id="{{ user.id }}">Supprimer</button>
                            <button class="edit-user-button" data-id="{{ user.id }}">Modifier</button>
                        </li>
                    {% else %}
                        <li>Aucun utilisateur trouvé.</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="tab-content" id="ues-tab" style="display: none;">
                <h3>Liste des UE</h3>
                <button class="tab-button" id="create-ue">Créer une UE</button>
                <ul id="ue-list">
                    {% for ue in ues %}
                        <li id="ue-{{ ue.id }}">
                            {{ ue.code }}
                            <button class="edit-ue-button" data-id="{{ ue.id }}">Modifier</button>
                            <button class="delete-ue-button" data-id="{{ ue.id }}">Supprimer</button>
                        </li>
                    {% else %}
                        <li>Aucune UE trouvée.</li>
                    {% endfor %}
                </ul>
            </div>
            <div id="creation-zone">
                <!-- Les formulaires Symfony seront insérés ici -->
                {% if form is defined %}
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="sub-button">Enregistrer</button>
                    {{ form_end(form) }}
                {% endif %}
            </div>
        </section>
    </main>






{% endblock %}

