{% extends 'base.html.twig' %}

{% block title %}{{variableTitre}}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('Styles/style-accueil.css') }}">

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('Scripts/RechercheCours.js') }}" defer></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="main-content">
            <h1>Recherche de Cours</h1>
            <div class="course-controls">
                <input type="text" id="search-bar" placeholder="Rechercher un cours...">
                <label for="sort-courses"></label><select id="sort-courses">
                    <option value="name">Trier par nom</option>
                    <option value="date">Trier par code</option>
                </select>
            </div>
            <div class="courses" id="course-list">
                {% if UEs_details is not empty %}
                    <table>
                        <thead>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Teachers</th>
                        </tr>
                        </thead>
                        <tbody id = "table-row">
                        {% for ue in UEs_details %}
                            <tr>
                                <td>{{ ue.code }}</td>
                                <td><a href="{{ path('Cours', { id: ue.id }) }}">{{ ue.titre }}</a></td>
                                <td>{{ ue.description }}</td>
                                <td>
                                    {% set courseTeachers = '' %}
                                    {% for teacher in teachersByCourse %}
                                        {% if teacher.course_id == ue.id %}
                                            {% set courseTeachers = teacher.teachers %}
                                        {% endif %}
                                    {% endfor %}
                                    {{ courseTeachers != '' ? courseTeachers : 'No teachers assigned' }}                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No courses available.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


