<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ asset('Styles/Header.css') }}"/>
        <link rel="icon" type="image/x-icon" href="{{ asset ('Images/Moodle.ico') }}"/> <!--TODO :Lien vers l'icône de la page  -->
        <link rel="stylesheet" href="{{ asset('Styles/AccountManagerStyle.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        {% block stylesheets %}
        {% endblock %}

        <title>{% block title %}{{ variableTitre }}{% endblock %}</title>


        <script>
            const notes = {{ notes is defined ? notes|json_encode|raw : '[]' }};
        </script>

        <script src="{{ asset('Scripts/AccountManagerDropdown.js') }}" defer></script>
        <script src="{{ asset('Scripts/ProfileMenu.js') }}" defer></script>
        <script src="{{ asset('Scripts/GradePopup.js') }}" defer></script>




        {% block javascripts %}
        {% endblock %}

    </head>

    <body>

<!-- La "tête" sert à définir des propriétés globales de la page -->


    <header class="header">
        <div class="menu">
            <a href="{{ path('app_login') }}">
                <button class="logo-button">
                    <img src="{{ asset('Images/logo_utbm.png') }}" alt="Logo" class="logo">
                </button>
            </a>
            <a href="{{ path('RechercheCours') }}">
                <button>Recherche de Cours</button>
            </a>
            <a href="{{ path('MesCours') }}">
                <button>Mes cours</button>
            </a>
            <a href="{{ path('TableauDeBord') }}">
                <button>Tableau de bord</button>
            </a>
            <div class="dropdown">
                <button class="dropbtn">Sites de l'UTBM ▼</button>
                <div class="dropdown-content">
                    <a href="https://outlook.office.com/mail/">Outlook</a>
                    <a href="https://utbm.sharepoint.com/sites/Portail?sw=auth">My UTBM</a>
                    <a href="https://bibliotheque.utbm.fr/">Bibliotheque</a>
                    <a href="https://ae.utbm.fr/">AE</a>
                </div>
            </div>
            <a href="{{ path('admin') }}">
                <button>Administration</button>
            </a>


            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="dropdown_account">
                <button class="profile-button_right" onclick="toggleDropdown()">
                    <img class="profile_picture" src="{{ asset(photoDeProfil) }}" alt="Profile Icon">
                </button>
                <div class="dropdown-content_account" id="profileDropdown">
                    <a href="#" id="profile" onclick="openProfilePopup()">Profil</a>
                    <a href="#" id="grades" onclick="openGradePopup(grades)">Notes</a>
                    <a href="{{ path('app_logout') }}" id="logout" >Déconnexion</a>
                </div>
            </div>
            {% endif %}

            <div id="content"></div>


            <div id="profilePopup" class="popup">
                <div class="popup-box">
                    <span class="close" onclick="closeProfilePopup()">&times;</span>
                    <div class="popup-content">
                        <div class="profile">
                            <h2>Informations de l'utilisateur</h2>
                            <p>Photo de profile : </p>
                            <img class="profile_picture" src="{{ asset(photoDeProfil) }}" alt="Profile Icon">
                            <p>Nom: {{ FirstName }}, Prénom : {{ Lastname }}</p>
                            <p>Email: {{email}}</p>

                        </div>

                        <div class="popup-UE">
                            <h2>Mes UEs</h2>
                            <ul>
                                {% for ue in UEs %}
                                    <li>{{ ue.titre }}</li>
                                {% endfor %}
                            </ul>


                        </div>
                    </div>
                    <button onclick="editProfile()" class="popup-button">Modifier</button>
                    <button onclick="editPassWord()" class="popup-button">Changer le mot de passe</button>
                </div>
            </div>

            <div id="gradePopup" class="gradePopup">
                <div class="popup-box">
                    <span class="close" onclick="closeGradePopup()">&times;</span>
                    <div class="popup-content">
                        <h2>Mes notes</h2>
                        <table>
                            <thead>
                            <tr>
                                <!-- Ajoutez d'autres en-têtes de colonne si nécessaire -->
                            </tr>
                            </thead>
                            <tbody>
                            <!-- Les lignes du tableau seront générées dynamiquement par JavaScript -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </header>

    {% block body %}{% endblock %}
    </body>
</html>