{% extends 'base.html.twig' %}


    {% block title %} {{ variableTitre}}   {% endblock %}
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('Styles/style-accueil.css') }}">
    <link rel="stylesheet" href="{{ asset('Styles/login_style.css') }}">
    {% endblock %}

{% block javascripts %}
    <script src="{{ asset('Scripts/verif_form.js') }}" defer ></script>

    <!-- script qui ouvre et ferme le menu latéral -->
    <script src="{{ asset('Scripts/login_menu.js') }}" defer></script>
{% endblock %}


{% block body %}
<div class="container">

    <!-- Bouton pour ouvrir le menu -->
    <button class="menu-button" onclick="toggleMenu()">Connexion</button>

    <!-- Menu latéral -->
    <div id="side-menu" class="side-menu">
        <!-- bouton x pour fermer le menu latéral -->
        <button class="close-button" onclick="toggleMenu()">×</button>
        <!-- contenu du menu latéral -->
        {% block login %}
            <form id="formulaire_login" method="post" action="{{ path('app_login') }}">
                {% if error %}
                    <div class="error" id="errorMessage">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <h1>Connexion</h1>

                <div>
                    <label for="username">Email</label>
                    <br>
                    <input autofocus type="email" id="username" name="_username" value="{{ last_username }}" placeholder="Email" required autocomplete="email">
                </div>
                <br>
                <div class="password-container">
                    <label for="password">Mot de passe</label>
                    <br>
                    <input type="password" id="password" name="_password" placeholder="Mot de passe" required autocomplete="current-password">
                    <span class="toggle-password" id="togglePassword">👁️</span>
                </div>
                <br>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div>
                    <button type="submit" style="width:50%;">Se Connecter</button>
                </div>
            </form>

            <br>
            <div style="text-align: center;">
                <a href="#">Mot de passe oublié ?</a>
            </div>
        {% endblock %}



    <div class="main-content">

        <h1>Plateforme pédagogique</h1>

        <!-- affichage des infos dans des div en grid -->
        <div class="grid-container">
            <div>
                <img src="{{ asset('Images/architecture.webp') }}" alt="architecture" class="grid-container-img">
                <h4>Read me</h4>
            </div>

            <div>
                <a href="https://www.utbm.fr/"><img src="{{ asset('Images/utbm_montbe.webp') }}" alt="batiment de l'utbm" class="grid-container-img"></a>
                <h4><a href="https://www.utbm.fr/">Découvrir l'UTBM</a></h4>
            </div>

            <div>
                <a href="https://bibliotheque.utbm.fr/"><img src="{{ asset('Images/semafort.jpg') }}" alt="logo semafort"
                                                             class="grid-container-img"></a>
                <h4><a href="https://bibliotheque.utbm.fr/">Bibliothèque</a></h4>
            </div>

        </div>
    </div>
</div>
{% endblock %}